body {
  background-color: #d5e7f5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
form {
  width: 50%;
  height: 90%;
  background-color: #f1f1f1;
}
